# python==3.12.0
####### Server-related
fastapi==0.112.0 # pip install "fastapi[standard]"
uvicorn==0.30.5
starlette==0.37.2
itsdangerous==2.2.0
python-multipart==0.0.12
watchfiles==0.24.0

####### Deep Learning Related
torch==2.6.0
torchvision==0.21.0
# torch==2.3.1 # conda install pytorch==2.3.1 torchvision==0.18.1 -c pytorch (torch.compile for onnx does not work here)
# torchvision==0.18.1
# torch==2.4.0 # conda install pytorch==2.4.0 torchvision==0.19.0 -c pytorch || On windows you may have to conda install cuda-nvtx -c nvidia 
# torchvision==0.19.0
onnx==1.16.2
onnxruntime==1.18.1
onnxscript==0.1.0.dev20240803
monai==1.3.2
nvitop

####### Image Processing Related
imageio==2.36.1
scipy==1.14.0
termcolor==2.4.0
scikit-image==0.24.0
edt==2.4.1

####### Dicom Related
pydicom==2.4.4
pydicom_seg==0.4.1
dicomweb_client==0.59.1

####### Utilities
psutil==6.1.0
setproctitle==1.3.3
matplotlib==3.9.1
pyyaml==6.0.2
setproctitle==1.3.3
directory_tree==1.0.0

####### Security
cryptography==43.0.3


